@model List<MyPlace.Models.ImageViewModel>
@section Styles {
    <link rel="stylesheet" href="~/css/feed.css" />
}
@{
    ViewData["Title"] = "Home Page";
}
<div class="container">
    <h3>@Model[0].User.Email</h3>
    <hr />
</div>
<div class="container customContainer">
    @foreach (var image in Model)
    {
        <div class="card" style="width: 18rem;">
            <img src="@image.ImageUrl" class="card-img-top" alt="...">
            <div class="card-body">
                <a asp-action="UserImages" asp-route-userId="@image.UserId" class="card-title">@image.User.Email</a>
                <p class="card-text">@image.DateCreated.ToString("dd/mm/yyyy hh:mm")</p>
            </div>
        </div>
    }

</div>
